

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    height: 100vh;
    width: calc(100vw - 3rem);
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-102vw) translateX(3rem);
    transition: transform 0.3s;
    overflow: auto;

    &.visible {
        transform: translateX(0);
    }
}
