

:host {
    display: none;
    margin-bottom: 0;
    background: rgb(12,150,160);
    background: linear-gradient(90deg, rgba(12,150,160,1) 0%, rgba(7,100,135,1) 100%);
    overflow: auto;

    .nav-wrapper {
        width: max-content;
    }

    @include media-breakpoint-up(sm) {
        display: block;
        .nav-wrapper {
            @include make-container-max-widths();
            width: 100%;
            margin: auto;
        }
    }
}

.collections-menu-sub-collections {
    width: 100vw;
    background-color: white;
    background: rgb(239, 249, 252);
    padding: $spacer 0;
    position: absolute;
    z-index: $zindex-dropdown;
    box-shadow: 0px 1em 14px -6px rgba(0, 0, 0, 0.15);

    a {
        display: block;
    }

    .level-1-link {
        font-weight: bold;
    }

    .level-2-link {

    }
}

.nav-link {
    color: white;
    transition: background-color 0.2s;
    &:hover, &.active {
        color: rgba(0,72,133,1);
        background: rgb(239, 249, 252);
    }
}

.level-1-block {
    margin-right: $spacer * 2;
}
