<img *ngIf="selectedAsset" [src]="$any(selectedAsset) | assetPreview:540" alt=""
     (click)="openImage(selectedAsset.id)"
     (load)="onLoad()"
     class="w-full h-full object-center object-cover rounded-lg cursor-zoom-in"
/>
<div *ngIf="!selectedAsset || !featuredAssetLoaded"
     class="rounded-lg bg-gray-200 animate-pulse aspect-video w-full"></div>

<div class="flex flex-wrap space-x-2 mt-2" *ngIf="assets?.length! > 1">
    <div *ngFor="let asset of assets"
         (click)="selectImage(asset.id)">
        <img [src]="$any(asset) | assetPreview:'thumb'" class="rounded-lg select-none h-24 w-full object-cover">
    </div>
</div>
