<div *ngIf="order$ | async as order">
    <div class="text-center">
        <h2 class="text-3xl">Thank you for your order!</h2>
        <ul class="mt-4">
            <li class="space-x-2"><span class="">Order code:</span><span
                class="text-gray-600 font-medium">{{ order.code }}</span></li>
            <li class="space-x-2"><span class="">Placed:</span><span
                class="text-gray-600 font-medium">{{ order.updatedAt | date: 'medium' }}</span></li>
        </ul>
    </div>

    <div *ngIf="!order?.customer?.user" class="border rounded bg-white max-w-md mx-auto p-4 my-4">
        <p class="lead">Create an account to enjoy faster checkouts, order tracking, order history and more!</p>
        <button class="btn-primary mx-auto mt-6 block"
                (click)="register()"
                [disabled]="registrationSent">
            Create account
        </button>
        <div *ngIf="registrationSent" class="mt-4 border-green-200 bg-green-50 p-4 text-sm text-green-700">
            Great! Now check your email ({{ order.customer!.emailAddress }}) to complete registration.
        </div>
    </div>
    <div class="mt-12">
        <vsf-cart-contents [cart]="order"
                           [canAdjustQuantities]="false"></vsf-cart-contents>
        <vsf-cart-totals [cart]="order"></vsf-cart-totals>
    </div>
</div>
<ng-container *ngIf="notFound$ | async">
    <h2 class="display-4">Page not found</h2>
</ng-container>
