//
//
//:host {
//    display: flex;
//    justify-content: center;
//    flex-wrap: wrap;
//    flex-direction: column;
//}
//
//.filters-title {
//    padding: calc($spacer / 2);
//    padding-left: calc($spacer / 3);
//    text-transform: uppercase;
//    border-bottom: 1px solid $gray-200;
//    margin-bottom: calc($spacer / 2);
//    color: $gray-600;
//}
//
//.filters-button {
//    text-transform: uppercase;
//    color: $gray-600;
//    border: none;
//    background: none;
//}
//
//.filters-wrapper {
//    overflow: hidden;
//    max-height: 0;
//    &.expanded {
//        max-height: initial;
//    }
//}
//
//.facet-group {
//    margin-bottom: $spacer;
//
//    ul {
//        display: flex;
//        flex-wrap: wrap;
//    }
//
//    li {
//        transition: color 0.2s;
//        label {
//            display: flex;
//            align-items: baseline;
//            min-width: 77px;
//        }
//    }
//
//    &.enabled li:not(.active) {
//        color: $gray-500;
//    }
//}
//
//button.facet-name {
//    font-size: $font-size-sm;
//    color: $gray-600;
//    padding: 0 calc($spacer / 3);
//    margin-right: calc($spacer / 2);
//    text-transform: uppercase;
//    transition: color 0.3s;
//    border: none;
//    background: none;
//}
//
//@include media-breakpoint-up(md) {
//    .filters-wrapper {
//        max-height: initial;
//    }
//    .facet-group {
//        ul {
//            display: initial;
//        }
//    }
//}
//
