
:host {
    display: block;
    position: relative;
    padding: calc($spacer / 2) $spacer;
    overflow: hidden;
    margin: $spacer;
}

.card-background {
    position: absolute;
    border-radius: $border-radius;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(1px);
    opacity: 0.3;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 0.2s, opacity 0.2s;
}

a:hover {
    .card-background {
        filter: blur(0);
        opacity: 0.2;
    }

    text-decoration: none;
}

.collection-name {
    z-index: 1;
    position: relative;
    text-decoration: none;
    color: #596e84;
    mix-blend-mode: darken;
    text-shadow: 0px 0px 15px $light;
}
