<div class="card" *ngIf="(signedIn$ | async) && (customerAddresses$ | async)?.length">
    <div class="card-header">
        <button class="btn btn-light" (click)="toggleSelectAddress()">Select Address</button>
    </div>
    <div class="" [ngClass]="step ? 'block' : 'hidden'">
        <div class="d-flex flex-wrap">
            <div class="customer-address"
                 *ngFor="let address of customerAddresses$ | async"
                 (click)="setShippingAddress(address)">
                <div class="address-line" *ngFor="let line of getLines(address)">
                    {{ line }}
                </div>
            </div>
            <div class="d-flex align-items-end ml-3 mb-3">
                <button class="btn btn-secondary" (click)="createAddress()">Add new address</button>
            </div>
        </div>
    </div>
</div>
<div class="" *ngIf="!(signedIn$ | async)">
    <h2 class="text-lg font-medium text-gray-900">
        Contact information
    </h2>
    <form [formGroup]="contactForm" (focusout)="onCustomerFormBlur()">
        <div class="mt-4">
            <label
                htmlFor="emailAddress"
                class="block text-sm font-medium text-gray-700"
            >
                Email address
            </label>
            <div class="mt-1">
                <input
                    type="email"
                    id="emailAddress"
                    name="emailAddress"
                    autoComplete="email"
                   formControlName="emailAddress"
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                />
            </div>
        </div>
        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
            <div>
                <label
                    htmlFor="firstName"
                    class="block text-sm font-medium text-gray-700"
                >
                    First name
                </label>
                <div class="mt-1">
                    <input
                        type="text"
                        id="firstName"
                        name="firstName"
                        autoComplete="given-name"
                        formControlName="firstName"
                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                    />
                </div>
            </div>

            <div>
                <label
                    htmlFor="lastName"
                    class="block text-sm font-medium text-gray-700"
                >
                    Last name
                </label>
                <div class="mt-1">
                    <input
                        type="text"
                        id="lastName"
                        name="lastName"
                        autoComplete="family-name"
                        formControlName="lastName"
                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                    />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="mt-10 border-t border-gray-200 pt-10">
    <h2 class="text-lg font-medium text-gray-900">
        Shipping Address
    </h2>
    <div class="card-body">
        <vsf-address-form #addressForm
                          (focusout)="onAddressFormBlur(addressForm.addressForm)"
                          [address]="(shippingAddress$ | async)!"
                          [availableCountries]="(availableCountries$ | async)!"></vsf-address-form>
    </div>
</div>
<div class="mt-10 border-t border-gray-200 pt-10">
    <h2 class="text-lg font-medium text-gray-900">
        Shipping Method
    </h2>
    <vsf-radio-card-fieldset
        [idFn]="getId"
        [selectedItemId]="shippingMethodId!"
        (selectItem)="setShippingMethod($event.id)"
    >
        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
            <vsf-radio-card *ngFor="let method of eligibleShippingMethods$ | async" [item]="method">
                <span class="block text-sm font-medium text-gray-900">
                    {{ method.name }}
                </span>
                <span class="mt-6 text-sm font-medium text-gray-900">
                    {{ method.priceWithTax | formatPrice }}
                </span>
            </vsf-radio-card>
        </div>
    </vsf-radio-card-fieldset>
</div>
<button class="btn-primary mt-6 w-full space-x-2"
        [disabled]="!shippingMethodId || addressForm.addressForm.invalid"
        (click)="proceedToPayment()">
    <fa-icon icon="credit-card"></fa-icon>
    <span>Proceed to payment</span>
</button>
