<vsf-address-form #addressForm
                  [address]="(address$ | async)!"
                  [availableCountries]="(availableCountries$ | async)!"></vsf-address-form>
<button class="btn-primary mt-3"
        [disabled]="addressForm.addressForm.invalid || addressForm.addressForm.pristine"
        (click)="updateAddress()">Update Address</button>
